<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="fragments/utils.html :: navigation"/>
    <h3>Dodaj mecz:</h3>

    <form method="post" th:object="${match}" th:action="@{/match}">
        <input type="hidden" th:field="*{id}" th:value="${match.id}">
        Pierwszy zespół: <input type="text" th:field="*{firstTeam}" th:value="${match.firstTeam}"/><br>
        Drugi zespół: <input type="text" th:field="*{secondTeam}" th:value="${match.secondTeam}"/><br>
        Rozpoczęcie: <input type="datetime-local" th:field="*{startTime}" th:value="${match.startTime}"/><br>
        <input type="submit" value="Zapisz"/>
    </form>

    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>