<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="fragments/utils.html :: navigation"/>
    <h3>Dodaj mecz:</h3>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <form method="post" th:object="${match}" th:action="@{/match}">
                    <input type="hidden" th:field="*{id}" th:value="${match.id}">
                    <div class="mb-3">
                        <label for="firstTeamInput" class="form-label">Gospodarz:</label>
                        <input type="text" th:field="*{firstTeam}" th:value="${match.firstTeam}" class="form-control" id="firstTeamInput">
                    </div>

                    <div class="mb-3">
                        <label for="secondTeamInput" class="form-label">Gość:</label>
                        <input type="text" th:field="*{secondTeam}" th:value="${match.secondTeam}" class="form-control" id="secondTeamInput">
                    </div>

                    <div class="mb-3">
                        <label for="startTimeInput" class="form-label">Data rozpoczęcia:</label>
                        <input type="datetime-local" th:field="*{startTime}" th:value="${match.startTime}" class="form-control" id="startTimeInput">
                    </div>

                    <input type="submit" value="Zapisz" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>