<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
</head>
<body>
    <div th:replace="fragments/utils.html :: navigation"/>
    <h3>Dodaj mecz:</h3>

    <form method="post" th:object="${match}" th:action="@{/match}">
        Pierwszy zespół: <input type="text" th:field="*{firstTeam}"/><br>
        Drugi zespół: <input type="text" th:field="*{secondTeam}"/><br>
        Rozpoczęcie: <input type="datetime-local" th:field="*{startTime}"/><br>
        <input type="submit" value="Zapisz"/>
    </form>

    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>