<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
</head>
<body>
    <div th:replace="fragments/utils.html :: navigation"/>
    <h3>Dodaj użytkownika:</h3>

    <form method="post" th:object="${user}" th:action="@{/user}">
        Imię: <input type="text" th:field="*{firstName}"/><br>
        Nazwisko: <input type="text" th:field="*{lastName}"/><br>
        Login: <input type="email" th:field="*{login}"/><br>
        <input type="submit" value="Zapisz"/>
    </form>

    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>