<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/utils.html :: navigation"/>
    <h3>Dodaj użytkownika:</h3>

    <form method="post" th:object="${user}" th:action="@{/user}">
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
        Imię: <input type="text" th:field="*{firstName}" th:value="${user.firstName}"/><br>
        Nazwisko: <input type="text" th:field="*{lastName}" th:value="${user.lastName}"/><br>
        Login: <input type="email" th:field="*{login}"
                      th:value="${user.login}" th:readonly="${isEdited}"/><br>
        <input type="submit" value="Zapisz"/>
    </form>

    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>