<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>

    <style>
        .draw {
            background-color: lightgreen;
        }
        .win {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation"/>
<h3 th:if="${bets.isEmpty()}">Brak założonych zakładów</h3>

<table th:unless="${bets.isEmpty()}">
    <thead>
        <tr>
            <td>Lp</td>
            <td>Mecz</td>
            <td>Czas rozpoczęcia</td>
            <td>Użytkownik</td>
            <td>Wynik</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bet, iterator: ${bets}" th:class="${bet.firstTeamResult != bet.secondTeamResult ? 'win' : 'draw'}">
            <td><span th:text="${iterator.count}"></span></td>
            <td><span th:text="${bet.firstTeam + '-' + bet.secondTeam}"></span></td>
            <td><span th:text="${bet.startTime}"></span></td>
            <td><span th:text="${bet.userLogin}"></span></td>
            <td><span th:text="${bet.firstTeamResult + ':' + bet.secondTeamResult}"></span></td>
        </tr>
    </tbody>
</table>
<div th:replace="fragments/utils.html :: footer"/>
</body>
</html>