<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form method="post" th:action="@{/authenticate}">

                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login:</label>
                        <input type="text" name="username" class="form-control" id="loginInput">
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Hasło:</label>
                        <input type="password" name="password" class="form-control" id="passwordInput">
                    </div>

                    <input type="submit" value="Zaloguj się" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>