<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Kurs Spring</h2>
    <h3>Aplikacja do obstawiania meczy</h3>
    <h3>Dziś jest <span th:text="${currentDate}"></span></h3>

    <h4 sec:authorize="isAuthenticated()">
        Jesteś zalogowany jako: <span sec:authentication="name"/>
    </h4>
    <h4 sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Zaloguj się</a>
    </h4>

    <div th:replace="fragments/utils.html :: navigation"/>
    <div th:replace="fragments/utils.html :: footer"/>
</body>
</html>