<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .red {
            color: red;
        }

        .black {
            color: black;
        }
    </style>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation"/>
<h3 th:if="${matches.isEmpty()}">Brak dodanych meczy. <a th:href="@{/match}">Dodaj</a></h3>

<table th:unless="${matches.isEmpty()}">
    <thead>
    <tr>
        <td>Lp</td>
        <td>Gospodarz</td>
        <td>Gość</td>
        <td>Data rozpoczęcia</td>
        <td>Akcje</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match, iterator: ${matches}" th:class="${iterator.even ? 'even' : 'odd'}">
        <td><span th:class="${match.isFromPast()? 'red' : 'black'}" th:text="${iterator.count}"></span></td>
        <td><span th:class="${match.isFromPast()? 'red' : 'black'}" th:text="${match.firstTeam}"></span></td>
        <td><span th:class="${match.isFromPast()? 'red' : 'black'}" th:text="${match.secondTeam}"></span></td>
        <td><span th:class="${match.isFromPast()? 'red' : 'black'}" th:text="${match.startTime}"></span></td>
        <td>
            <a th:class="${match.isFromPast()? 'red' : 'black'}" th:href="@{'edit?id=' + ${match.id}}">Edytuj</a>&nbsp;
            <a th:class="${match.isFromPast()? 'red' : 'black'}" th:href="@{'delete?id=' + ${match.id}}">Delete</a>&nbsp;
            <a th:class="${match.isFromPast()? 'red' : 'black'}" th:href="@{'details?id=' + ${match.id}}">Detale</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/utils.html :: footer"/>

</body>
</html>